<div class="col-xl-9 mx-auto">
  <h1 class="mb-5">Have a nice day, my virtual Friend!</h1>
</div>
<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
  <h2>
    <a class='text-white' target='_blank' href='/<%= @rand %>'><%= "#{request.host_with_port}/#{@rand}" %></a>
  </h2>
</div>
